version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: users_test_db
    ports:
      - "5433:5432"
    networks:
      - backend
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db:/docker-entrypoint-initdb.d

  user_service:
    build:
      context: ./services/user_service
    container_name: user_service
    restart: always
    env_file:
      - ./services/user_service/.env
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    networks:
      - backend

  product_service:
      build:
        context: ./services/product_service
      container_name: product_service
      restart: always
      env_file:
        - ./services/product_service/.env
      depends_on:
        - postgres
      ports:
        - "8001:8001"
      networks:
        - backend

volumes:
  postgres_data:

networks:
    backend: